@tailwind base;
@tailwind components;
@tailwind utilities;

 @import url('https://fonts.cdnfonts.com/css/source-sans-pro');

 .text-gradient {
  background: linear-gradient(to right, var(--tw-gradient-from), var(--tw-gradient-to));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
